# ======================
# .NET
# ======================
bin/
obj/
.vs/
*.user
*.suo
*.log

# ======================
# Node / Frontend
# ======================
node_modules/
build/
dist/
.env

# ======================
# OS
# ======================
.DS_Store
Thumbs.db